## -*- coding: utf-8 -*-

<%def name="devstatus(desc)" buffered="True">
    % if desc == 'planning':
        <span class="badge badge-secondary">Planning</span>
    % elif desc == 'alpha':
        <span class="badge badge-primary">Alpha</span>
    % elif desc == 'beta':
        <span class="badge badge-info">Beta</span>
    % elif desc == 'ongoing':
        <span class="badge badge-info">Ongoing</span>
    % elif desc == 'stable':
        <span class="badge badge-success">Production/Stable</span>
    % elif desc == 'production':
        <span class="badge badge-success">Production/Stable</span>
    % elif desc == 'mature':
        <span class="badge badge-success">Mature</span>
    % elif desc == 'finished':
        <span class="badge badge-success">Finished</span>
    % elif desc == 'inactive':
        <span class="badge badge-danger">Inactive</span>
    % else:
        <span class="badge badge-default">${desc}</span>
    % endif
</%def>
