## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*" />
<%namespace name="notes" file="annotation_helper.tmpl" import="*" />
${set_locale(lang)}
${base.html_headstart()}
<html style="background-color:#073642">
<%block name="extra_head">
### Leave this block alone.
</%block>
${template_hooks['extra_head']()}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
</head>
<body>

<!-- Sidebar -->
<div id="wrapper">
   <div class="overlay" style="max-width:300px"></div>

   <!-- Sidebar -->
   <nav class="navbar navbar-inverse fixed-top" style="background: #073642", id="sidebar-wrapper" role="navigation">
       <ul class="nav sidebar-nav">
           <div class="sidebar-header">
               <div class="sidebar-brand">
                  <a href="link://slug/index">
                  <img src="/images/20201030_122424.jpg" style="max-width: 65%" alt="Konstantin">
                  </a>
                   <h4>
                      <a href="link://slug/about">Konstantin Stadler</a>
                  </h4>
                   <p> Research Software Engineer <br>
                   Scientist </p>
                   <p>Follow me: &nbsp;
                   <a href="https://www.twitter.com/kst_stadler/">
                   <i class="fa fa-twitter" aria-hidden="true"></i>
                   |
                   </a>
                   <a href="https://github.com/konstantinstadler/">
                   <i class="fa fa-github" aria-hidden="true"></i>
                   |
                   </a>
                   <a href="https://gitlab.com/konstantinstadler/">
                   <i class="fa fa-gitlab" aria-hidden="true"></i>
                   |
                   </a>
                   <a href="https://no.linkedin.com/in/konstantinstadler/">
                   <i class="fa fa-linkedin" aria-hidden="true"></i>
                   </a>

               </div>
           </div>

           <ul class="navbar-nav mr-auto">
               &nbsp;
               <br>
               &nbsp;
               ${base.html_navigation_links_entries(navigation_links)}
               ${template_hooks['menu']()}
           </ul>
           %if search_form:
           ${search_form}
           %endif

           ${template_hooks['menu_alt']()}

         <span class="navbar-text">
             <i class="fa fa-copyright" aria-hidden="true"></i> &nbsp;
             Konstantin Stadler. Licenced under
             <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
         </span>

       </ul>
   </nav>
        <!-- /#sidebar-wrapper -->
<!-- End of Sidebar -->

<!-- Page Content -->
<div id="page-content-wrapper">
    <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
    <span class="hamb-top"></span>
    <span class="hamb-middle"></span>
    <span class="hamb-bottom"></span>
</button>

<div class="container" id="content" role="main">
    <div class="body-content">
        <!--Body content-->
        ${template_hooks['page_header']()}
        <%block name="extra_header"></%block>
        <%block name="content"></%block>
        <!--End of body content-->

        <footer id="footer">
            <%block name="footer">
            ${content_footer}
            ${template_hooks['page_footer']()}
            </%block>
            <%block name="extra_footer"></%block>
        </footer>
    </div>
</div>
</div>
<!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

${base.late_load_js()}
    %if date_fanciness != 0:
        <!-- fancy dates -->
        <script>
        luxon.Settings.defaultLocale = "${luxon_locales[lang]}";
        fancydates(${date_fanciness}, ${luxon_date_format});
        </script>
        <!-- end fancy dates -->
    %endif
    <%block name="extra_js"></%block>
    <script>
    baguetteBox.run('div#content', {
        ignoreClass: 'islink',
        captions: function(element) {
            return element.getElementsByTagName('img')[0].alt;
    }});
    </script>
${body_end}
${template_hooks['body_end']()}
<script src="/assets/js/sidebar.js"></script>'
</body>
</html>
